<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">

html {
  background-color: #FFFFFF;
}

body {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
	font-family: 'Oswald', sans-serif;
  color: #1d2023;
  letter-spacing: 7px;
  position: absolute;
  left: 0px;
  right: 0;
  line-height: 1;
  top: 50%;
  transform : translateY(-50%);
  text-align: center;
  z-index: 1;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0.3;
}
