html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1em; }

input,
select,
textarea {
  font-family: 'Poppins'; }

header .menutop {
  height: 80px;
  background: #fff;
  box-shadow: none;
  position: relative;
  width: 100%;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  header .menutop .logo {
    padding: 2em;
    position: relative;
    z-index: 5;
    background: #fff; }
  header .menutop .button-menu {
    position: absolute;
    z-index: 6;
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 10px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    header .menutop .button-menu.active .burger {
      height: 0; }
      header .menutop .button-menu.active .burger:before {
        transform: rotate(45deg);
        top: 50%; }
      header .menutop .button-menu.active .burger:after {
        transform: rotate(-45deg);
        top: 50%; }
    header .menutop .button-menu:hover {
      cursor: pointer; }
    header .menutop .button-menu .menu-text {
      text-transform: uppercase;
      color: #393939;
      text-transform: uppercase;
      font-weight: 700; }
    header .menutop .button-menu .burger {
      display: inline-block;
      position: absolute;
      left: 72%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 18px;
      height: 2px;
      background-color: #393939;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      list-style: none; }
      header .menutop .button-menu .burger:before {
        content: '';
        position: absolute;
        top: -5px;
        width: 18px;
        height: 2px;
        background-color: #393939;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s; }
      header .menutop .button-menu .burger:after {
        content: '';
        position: absolute;
        top: 5px;
        width: 18px;
        height: 2px;
        background-color: #393939;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s; }
  header .menutop .menu-big {
    position: absolute;
    z-index: 3;
    top: 80px;
    height: 869px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.96);
    -webkit-transform: translateY(-200%);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s; }
    header .menutop .menu-big.active {
      -webkit-transform: translateY(0%); }
    header .menutop .menu-big ul {
      padding: 150px 0 0;
      font-size: 1.4em;
      font-weight: 300; }
      header .menutop .menu-big ul li {
        line-height: 70px; }
        header .menutop .menu-big ul li a {
          text-decoration: none;
          color: #fff; }

/*# sourceMappingURL=stylesheet.css.map */
